body{
    font-family: sans-serif;
}
/* blog button in navbar */
.btn-blog{
    color: white;
    font-weight: bold;
    background-color: #1090D8;
    ;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
}
.btn-blog:hover{
    background-color: #0874b3;
}
/* calculate button in main sections */
.btn-calculate{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #1090D8;
    border-radius: 5px;
    border: none;
    padding: 5px 50px;
}
.btn-calculate:hover{
    background-color: #0874b3;
}

::placeholder{
    text-align: center;
}
h3{
    font-size: 20px;
    font-weight: 400;
}
p{
    padding: 5px;
    margin: 5px;
}
.card-areas{
    height: 350px;
    width: 290px;
}

/* self made card for remembering old skills */
.card-made{
    width: 290px;
    height: 370px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}
.card-made img{
    height: 150px;
    
    margin: 0px auto;
}
.card-made:hover{
    background-color: #a5d7f5;
}

/* button made for table  */
.btn-table{
    color: white;
    
    font-weight: bold;
    background-color: #1090D8;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
}
.btn-table:hover{
    background-color: #0874b3;
}

/* custumized border for table */
.my-border{
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.459);
    border-radius: 10px;
}